<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>配置详情</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="referrer" content="no-referrer"/>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/zerogrid.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/responsiveslides.css') }}">
    <script src="{{ url_for('static',filename='js/jquery-latest.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/script.js') }}"></script>
    <script src="{{ url_for('static',filename='js/jquery-2.1.4.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/responsiveslides.min.js') }}"></script>
    <script>
        $(function () {
            // Slideshow
            $("#slider").responsiveSlides({
                auto: true,
                pager: false,
                nav: true,
                speed: 500,
                namespace: "callbacks",
                before: function () {
                    $('.events').append("<li>before event fired.</li>");
                },
                after: function () {
                    $('.events').append("<li>after event fired.</li>");
                }
            });
        });
    </script>
</head>
<body>
<div class="wrap-body">
    <header class="bg-theme">
        <div class="wrap-header zerogrid">
            <div class="row">
                <div id="cssmenu">
                    <ul>
                        <li class='active'><a href="/">Home</a></li>
                    </ul>
                </div>
                <a href='/' class="logo"><img src="{{ url_for('static',filename='images/logo.png') }}"/></a>
            </div>
        </div>
    </header>
    <section id="container">
        <div class="">
            <div class="wrap-container clearfix">
                <div id="main-content">
                    <div class="wrap-box" style="background: #fff; box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.3);">
                        <!--Start Box-->
                        <div class="zerogrid">
                            {% if details %}
                                <div class="header">
                                    <h1 style="text-align: center">{{ index }}详细配置</h1>
                                </div>
                                <div class="row">
                                    <div class="col-1-3">
                                        <div class="wrap-col">
                                            <div class="slider">
                                                <!-- Slideshow -->
                                                <div class="callbacks_container">
                                                    <ul class="rslides" id="slider">
                                                        <li>
                                                            <img src="{{ details.基本参数.img }}" alt="暂无图片"
                                                                 style="width: auto">
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="clear"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-2-3">
                                        <div class="wrap-col">
                                            <p class="price">￥{{ price }} </p>
                                            <ul class="specs">
                                                <li><strong>厂商</strong> <span>{{ details.基本参数.manufacturers }}</span>
                                                </li>
                                                <li><strong>级别</strong> <span>{{ details.基本参数.level }}</span></li>
                                                <li><strong>发动机</strong> <span>{{ details.基本参数.engine }}</span></li>
                                                <li><strong>长*宽*高(mm)</strong>
                                                    <span>{{ details.基本参数.longHighWith }}</span></li>
                                                <li><strong>车身结构</strong> <span>{{ details.基本参数.bodyStructure }}</span>
                                                </li>
                                                <li><strong>最高车速</strong> <span>{{ details.基本参数.maximumSpeed }}</span>
                                                </li>
                                                <li><strong>综合油耗（工信部）</strong>
                                                    <span>{{ details.基本参数.ministryOfIntegratedFuelConsumption }}</span>
                                                </li>
                                                <li><strong>0-100km/h加速(s)</strong>
                                                    <span>{{ details.基本参数.measuredAcceleration }}</span></li>
                                                <li><strong>发动机型号</strong> <span>{{ details.发动机.model }}</span></li>
                                                <li><strong>最大马力</strong> <span>{{ details.发动机.maxHorsepower }}</span>
                                                </li>
                                                <li><strong>燃料类型</strong> <span>{{ details.发动机.fuelForm }}</span></li>
                                                <li><strong>变速箱</strong> <span>{{ details.变速箱.abbreviation }}</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                {% else %}
                                <div class="header">
                                    <h1 style="text-align: center">{{ msg }}</h1>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="zerogrid">
            <div class="wrap-footer">
                <div class="row">
                    <h3>智能识车</h3>
                    <span>实现语言：python</span></br>
                    <span>使用框架：flask</span></br>
                    <span><strong>四川师范大学 物电专业实训项目 车型识别查询系统</strong></span>
                </div>
            </div>
        </div>
    </footer>

</div>
</body></html>